*{
    padding: 0%;
    margin: 0%;
    /* background-color: rgb(41, 31, 31); */
}

body{
    background-image: url(asset/pngtree-cute-hand-drawn-style-mathematics-education-pink-background-image_337362.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   
}


.main{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h1{
    font-weight: bold;
    font-size: 3rem;
    color: azure;
    width: 100%;
    text-align: center;
}
.contant{

    height: 60%;
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(51, 9, 90, 0.773);
    border-radius: 30px;
    align-items: center;
    
}

.result-div{
    height: 10%;
    width: 95%;
    background-color: rgba(203, 215, 225, 0.298);
    
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: end;
    overflow-x: auto;
}

.contant .numbers{
    
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    /* padding: 1rem; */
    gap: 0.1rem 1rem;
    background-color: rgba(38, 86, 90, 0.222);
    justify-content: center;
    ;

}
.numbers .number{
    width: 3rem;
    height: 3rem;
    /* background-color: rgb(216, 199, 175); */
    border: black;
    display: flex;
    padding: 10%;
    justify-content: center;
    align-items: center;
    border-radius: ;
    cursor: pointer;
    margin-top: 3%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.number:hover {
    background-color: #dcdcdc;
}

.number .opretor{
    color: rgb(0, 0, 0);
    font-size: 2.3rem;
    cursor: pointer;
}

